USE [master]
GO
/****** Object:  Database [Beyti-V1]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE DATABASE [Beyti-V1]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Beyti-V1', FILENAME = N'C:\Users\A11\Beyti-V1.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Beyti-V1_log', FILENAME = N'C:\Users\A11\Beyti-V1_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Beyti-V1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Beyti-V1]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[SellerId] [int] NOT NULL,
	[DeliveryAddressId] [int] NULL,
	[PickupAddressId] [int] NULL,
	[PaymentMethod] [nvarchar](20) NOT NULL,
	[PaymentStatus] [nvarchar](20) NOT NULL,
	[FulfillmentType] [nvarchar](20) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[SubtotalAmount] [decimal](10, 2) NOT NULL,
	[DeliveryFee] [decimal](10, 2) NOT NULL,
	[TotalAmount]  AS ([SubtotalAmount]+[DeliveryFee]) PERSISTED,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
	[OrderNote] [nvarchar](500) NULL,
 CONSTRAINT [PK_Orders] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProfile]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfile](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdentityUserId] [nvarchar](450) NULL,
	[DisplayName] [nvarchar](100) NULL,
	[RoleType] [nvarchar](30) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_UserProfile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserProfileId] [int] NOT NULL,
	[Phone] [nvarchar](30) NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Seller]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Seller](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserProfileId] [int] NOT NULL,
	[StoreName] [nvarchar](120) NOT NULL,
	[Phone] [nvarchar](30) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[CloseTime] [time](7) NULL,
	[IsManuallyClosed] [bit] NULL,
	[OpenTime] [time](7) NULL,
	[IsForceOpen] [bit] NULL,
	[ForceOpenStartTime] [datetime2](7) NULL,
	[IsOpen] [bit] NOT NULL,
	[StoreDescription] [nvarchar](500) NULL,
	[StoreImageUrl] [nvarchar](500) NULL,
	[BannerAccentColor] [nvarchar](20) NULL,
	[BannerThemeKey] [nvarchar](50) NULL,
 CONSTRAINT [PK_Seller] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Driver]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Driver](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserProfileId] [int] NOT NULL,
	[Phone] [nvarchar](30) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
	[CurrentLat] [decimal](9, 6) NULL,
	[CurrentLng] [decimal](9, 6) NULL,
 CONSTRAINT [PK_Driver] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DeliveryTicket]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DeliveryTicket](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[DriverId] [int] NULL,
	[PickupAddressId] [int] NULL,
	[DeliveryAddressId] [int] NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
	[CurrentOfferedDriverId] [int] NULL,
	[OfferExpiresAt] [datetime2](7) NULL,
	[DeliveryNote] [nvarchar](500) NULL,
 CONSTRAINT [PK_DeliveryTicket] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Address]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Address](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Label] [nvarchar](50) NULL,
	[Street] [nvarchar](200) NOT NULL,
	[City] [nvarchar](100) NOT NULL,
	[Region] [nvarchar](100) NULL,
	[PostalCode] [nvarchar](20) NULL,
	[Country] [nvarchar](60) NOT NULL,
	[Latitude] [decimal](10, 7) NULL,
	[Longitude] [decimal](10, 7) NULL,
	[IsDefault] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_Address] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_DeliveryRoutes]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

/* ================================================================
   HELPFUL VIEWS FOR APPLICATION LOGIC
   ================================================================ */

-- View: Driver delivery routes
CREATE VIEW [dbo].[vw_DeliveryRoutes] AS
SELECT 
    dt.Id AS DeliveryTicketId,
    dt.OrderId,
    dt.Status AS DeliveryStatus,
    
    -- Driver info
    d.Id AS DriverId,
    d.Phone AS DriverPhone,
    upDriver.DisplayName AS DriverName,
    
    -- Customer info
    c.Id AS CustomerId,
    c.Phone AS CustomerPhone,
    upCustomer.DisplayName AS CustomerName,
    
    -- Seller info
    s.Id AS SellerId,
    s.Phone AS SellerPhone,
    s.StoreName,
    
    -- Pickup address (seller shop)
    pickupAddr.Id AS PickupAddressId,
    pickupAddr.Street AS PickupStreet,
    pickupAddr.City AS PickupCity,
    pickupAddr.Latitude AS PickupLat,
    pickupAddr.Longitude AS PickupLng,
    
    -- Delivery address (customer)
    deliveryAddr.Id AS DeliveryAddressId,
    deliveryAddr.Street AS DeliveryStreet,
    deliveryAddr.City AS DeliveryCity,
    deliveryAddr.Latitude AS DeliveryLat,
    deliveryAddr.Longitude AS DeliveryLng,
    
    o.TotalAmount,
    o.PaymentMethod,
    dt.CreatedAt,
    dt.UpdatedAt
FROM dbo.DeliveryTicket dt
INNER JOIN dbo.Orders o ON dt.OrderId = o.Id
INNER JOIN dbo.Customer c ON o.CustomerId = c.Id
INNER JOIN dbo.UserProfile upCustomer ON c.UserProfileId = upCustomer.Id
INNER JOIN dbo.Seller s ON o.SellerId = s.Id
LEFT JOIN dbo.Driver d ON dt.DriverId = d.Id
LEFT JOIN dbo.UserProfile upDriver ON d.UserProfileId = upDriver.Id
LEFT JOIN dbo.Address pickupAddr ON dt.PickupAddressId = pickupAddr.Id
LEFT JOIN dbo.Address deliveryAddr ON dt.DeliveryAddressId = deliveryAddr.Id;
GO
/****** Object:  View [dbo].[vw_CustomerOrderHistory]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View: Customer order history with addresses
CREATE VIEW [dbo].[vw_CustomerOrderHistory] AS
SELECT 
    o.Id AS OrderId,
    o.Status,
    o.PaymentStatus,
    o.FulfillmentType,
    o.TotalAmount,
    
    -- Customer info
    c.Id AS CustomerId,
    upCustomer.DisplayName AS CustomerName,
    
    -- Seller info
    s.Id AS SellerId,
    s.StoreName,
    
    -- Addresses
    deliveryAddr.Street AS DeliveryStreet,
    deliveryAddr.City AS DeliveryCity,
    pickupAddr.Street AS PickupStreet,
    pickupAddr.City AS PickupCity,
    
    o.CreatedAt,
    o.UpdatedAt
FROM dbo.Orders o
INNER JOIN dbo.Customer c ON o.CustomerId = c.Id
INNER JOIN dbo.UserProfile upCustomer ON c.UserProfileId = upCustomer.Id
INNER JOIN dbo.Seller s ON o.SellerId = s.Id
LEFT JOIN dbo.Address deliveryAddr ON o.DeliveryAddressId = deliveryAddr.Id
LEFT JOIN dbo.Address pickupAddr ON o.PickupAddressId = pickupAddr.Id;
GO
/****** Object:  Table [dbo].[ServiceProvider]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceProvider](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserProfileId] [int] NOT NULL,
	[BusinessName] [nvarchar](120) NOT NULL,
	[Phone] [nvarchar](30) NULL,
	[MinServicePrice] [decimal](10, 2) NULL,
	[MaxServicePrice] [decimal](10, 2) NULL,
	[Status] [nvarchar](20) NOT NULL,
	[VerifiedAt] [datetime2](3) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
	[ServiceCategoryId] [int] NOT NULL,
 CONSTRAINT [PK_ServiceProvider] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TimeSlot]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TimeSlot](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ServiceProviderId] [int] NOT NULL,
	[DayOfWeek] [tinyint] NOT NULL,
	[StartTime] [time](0) NOT NULL,
	[EndTime] [time](0) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_TimeSlot] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_ProviderAvailability]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- View: Service provider availability
CREATE VIEW [dbo].[vw_ProviderAvailability] AS
SELECT 
    sp.Id AS ProviderId,
    sp.BusinessName,
    sp.Phone,
    sp.MinServicePrice,
    sp.MaxServicePrice,
    ts.Id AS TimeSlotId,
    ts.DayOfWeek,
    CASE ts.DayOfWeek
        WHEN 0 THEN 'Sunday'
        WHEN 1 THEN 'Monday'
        WHEN 2 THEN 'Tuesday'
        WHEN 3 THEN 'Wednesday'
        WHEN 4 THEN 'Thursday'
        WHEN 5 THEN 'Friday'
        WHEN 6 THEN 'Saturday'
    END AS DayName,
    ts.StartTime,
    ts.EndTime,
    ts.IsActive
FROM dbo.ServiceProvider sp
INNER JOIN dbo.TimeSlot ts ON sp.Id = ts.ServiceProviderId
WHERE sp.Status = 'Approved' AND ts.IsActive = 1;
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AdminProfile]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AdminProfile](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserProfileId] [int] NOT NULL,
	[Title] [nvarchar](100) NULL,
	[Permissions] [nvarchar](max) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_AdminProfile] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[UserProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AnnouncementRead]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AnnouncementRead](
	[AnnouncementId] [int] NOT NULL,
	[UserProfileId] [int] NOT NULL,
	[ReadAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_AnnouncementRead] PRIMARY KEY CLUSTERED 
(
	[AnnouncementId] ASC,
	[UserProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Announcements]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Announcements](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[AdminUserId] [int] NOT NULL,
	[Title] [nvarchar](200) NOT NULL,
	[Message] [nvarchar](max) NOT NULL,
	[Audience] [nvarchar](50) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[ExpiresAt] [datetime2](3) NULL,
 CONSTRAINT [PK_Announcements] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ActorUserId] [int] NULL,
	[EventType] [nvarchar](80) NOT NULL,
	[TargetTable] [nvarchar](100) NULL,
	[TargetId] [int] NULL,
	[Description] [nvarchar](500) NULL,
	[Severity] [nvarchar](20) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_AuditLogs] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](60) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerAddress]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerAddress](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[AddressId] [int] NOT NULL,
 CONSTRAINT [PK_CustomerAddress] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_CustomerAddress] UNIQUE NONCLUSTERED 
(
	[CustomerId] ASC,
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CustomerFavoriteSeller]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CustomerFavoriteSeller](
	[CustomerId] [int] NOT NULL,
	[SellerId] [int] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_CustomerFavoriteSeller] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC,
	[SellerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Gender]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Gender](
	[Id] [tinyint] NOT NULL,
	[Name] [nvarchar](16) NOT NULL,
 CONSTRAINT [PK_Gender] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MembershipPlan]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MembershipPlan](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[MonthlyPrice] [decimal](10, 2) NOT NULL,
	[DurationDays] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_MembershipPlan] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Message]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Message](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SenderUserId] [int] NOT NULL,
	[RecipientUserId] [int] NOT NULL,
	[Content] [nvarchar](max) NOT NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_Message] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notification]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notification](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RecipientUserId] [int] NOT NULL,
	[SenderUserId] [int] NULL,
	[Type] [nvarchar](50) NOT NULL,
	[Title] [nvarchar](120) NULL,
	[Body] [nvarchar](max) NOT NULL,
	[RelatedEntityType] [nvarchar](30) NULL,
	[RelatedEntityId] [int] NULL,
	[IsRead] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[IsDeleted] [bit] NOT NULL,
 CONSTRAINT [PK_Notification] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderItem]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderItem](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductVariantId] [int] NOT NULL,
	[Qty] [int] NOT NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
	[LineTotal]  AS ([Qty]*[UnitPrice]) PERSISTED,
 CONSTRAINT [PK_OrderItem] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[PaymentFor] [nvarchar](20) NOT NULL,
	[OrderId] [int] NULL,
	[ServiceBookingId] [int] NULL,
	[PaymentType] [nvarchar](20) NULL,
	[GatewayName] [nvarchar](60) NULL,
	[ExternalRef] [nvarchar](120) NULL,
	[Amount] [decimal](10, 2) NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_Payment] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SellerId] [int] NOT NULL,
	[SubCategoryId] [int] NULL,
	[GenderId] [tinyint] NULL,
	[Name] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[BasePrice] [decimal](10, 2) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
	[DiscountPercentage] [decimal](5, 2) NULL,
	[StoreSectionId] [int] NULL,
	[ImageUrl] [nvarchar](500) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProductVariant]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProductVariant](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductId] [int] NOT NULL,
	[ColorValueId] [int] NULL,
	[SizeValueId] [int] NULL,
	[SKU] [nvarchar](60) NULL,
	[Price] [decimal](10, 2) NULL,
	[StockQty] [int] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
	[VariantName] [nvarchar](120) NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_ProductVariant] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProviderApplication]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProviderApplication](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ServiceProviderId] [int] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[Notes] [nvarchar](500) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_ProviderApplication] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProviderApplicationService]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProviderApplicationService](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProviderApplicationId] [int] NOT NULL,
	[ServiceCatalogId] [int] NOT NULL,
 CONSTRAINT [PK_ProviderApplicationService] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ProviderCertificate]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ProviderCertificate](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProviderApplicationId] [int] NOT NULL,
	[Title] [nvarchar](120) NOT NULL,
	[FileUrl] [nvarchar](300) NULL,
	[ExpiresAt] [date] NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_ProviderCertificate] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Review]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Review](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[OrderId] [int] NOT NULL,
	[ProductId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[Rating] [int] NOT NULL,
	[Comment] [nvarchar](max) NULL,
	[IsCommentHiddenBySeller] [bit] NOT NULL,
	[HiddenAt] [datetime2](3) NULL,
	[HiddenReason] [nvarchar](200) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_Review] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SellerAddress]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellerAddress](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SellerId] [int] NOT NULL,
	[AddressId] [int] NOT NULL,
 CONSTRAINT [PK_SellerAddress] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_SellerAddress] UNIQUE NONCLUSTERED 
(
	[SellerId] ASC,
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SellerSubCategory]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SellerSubCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SellerId] [int] NOT NULL,
	[SubCategoryId] [int] NOT NULL,
 CONSTRAINT [PK_SellerSubCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Service]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Service](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ServiceProviderId] [int] NOT NULL,
	[ServiceCatalogId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](500) NULL,
	[MinPrice] [decimal](10, 2) NULL,
	[MaxPrice] [decimal](10, 2) NULL,
	[EstimatedDuration] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_Service] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceBooking]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceBooking](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerId] [int] NOT NULL,
	[ServiceProviderId] [int] NOT NULL,
	[ServiceCatalogId] [int] NOT NULL,
	[ServiceAddressId] [int] NOT NULL,
	[TimeSlotId] [int] NULL,
	[BookingDateTime] [datetime2](3) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
	[ServiceType] [nvarchar](20) NOT NULL,
	[QuotedPrice] [decimal](10, 2) NULL,
	[Notes] [nvarchar](500) NULL,
	[CanceledBy] [nvarchar](20) NULL,
	[CancellationReason] [nvarchar](300) NULL,
	[CancellationFee] [decimal](10, 2) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[UpdatedAt] [datetime2](3) NOT NULL,
	[ServiceId] [int] NULL,
	[FinalPrice] [decimal](10, 2) NULL,
	[PaymentType] [nvarchar](20) NULL,
	[DepositAmount] [decimal](10, 2) NULL,
 CONSTRAINT [PK_ServiceBooking] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceCatalog]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceCatalog](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](120) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[MinPrice] [decimal](10, 2) NULL,
	[MaxPrice] [decimal](10, 2) NULL,
	[EstimatedDuration] [int] NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[ServiceCategoryId] [int] NOT NULL,
 CONSTRAINT [PK_ServiceCatalog] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceCategory]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](255) NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_ServiceCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceProviderAddress]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceProviderAddress](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ServiceProviderId] [int] NOT NULL,
	[AddressId] [int] NOT NULL,
 CONSTRAINT [PK_ServiceProviderAddress] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ_ServiceProviderAddress] UNIQUE NONCLUSTERED 
(
	[ServiceProviderId] ASC,
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ServiceReview]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ServiceReview](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ServiceBookingId] [int] NOT NULL,
	[ServiceProviderId] [int] NOT NULL,
	[CustomerId] [int] NOT NULL,
	[OverallRating] [int] NOT NULL,
	[QualityRating] [int] NULL,
	[ProfessionalismRating] [int] NULL,
	[TimelinessRating] [int] NULL,
	[Comment] [nvarchar](max) NULL,
	[ProviderResponse] [nvarchar](max) NULL,
	[RespondedAt] [datetime2](3) NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
	[IsHidden] [bit] NOT NULL,
 CONSTRAINT [PK_ServiceReview] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StoreSection]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StoreSection](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[SellerId] [int] NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
	[SortOrder] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_StoreSection] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SubCategory]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SubCategory](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CategoryId] [int] NOT NULL,
	[Name] [nvarchar](80) NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_SubCategory] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserMembership]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserMembership](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserProfileId] [int] NOT NULL,
	[MembershipPlanId] [int] NOT NULL,
	[StartDate] [date] NOT NULL,
	[EndDate] [date] NOT NULL,
	[Status] [nvarchar](20) NOT NULL,
	[AutoRenew] [bit] NOT NULL,
	[CreatedAt] [datetime2](3) NOT NULL,
 CONSTRAINT [PK_UserMembership] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VariantOption]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VariantOption](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](40) NOT NULL,
 CONSTRAINT [PK_VariantOption] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[VariantValue]    Script Date: 12/24/2025 7:32:42 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[VariantValue](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[VariantOptionId] [int] NOT NULL,
	[ValueName] [nvarchar](60) NOT NULL,
 CONSTRAINT [PK_VariantValue] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Address_Active]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Address_Active] ON [dbo].[Address]
(
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AnnouncementRead_UserProfileId]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_AnnouncementRead_UserProfileId] ON [dbo].[AnnouncementRead]
(
	[UserProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Announcements_Active]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Announcements_Active] ON [dbo].[Announcements]
(
	[IsActive] ASC,
	[ExpiresAt] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_AuditLogs_Actor]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_AuditLogs_Actor] ON [dbo].[AuditLogs]
(
	[ActorUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AuditLogs_EventType]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_AuditLogs_EventType] ON [dbo].[AuditLogs]
(
	[EventType] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_AuditLogs_Target]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_AuditLogs_Target] ON [dbo].[AuditLogs]
(
	[TargetTable] ASC,
	[TargetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Customer_UserProfile]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Customer_UserProfile] ON [dbo].[Customer]
(
	[UserProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerAddress_Address]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_CustomerAddress_Address] ON [dbo].[CustomerAddress]
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerAddress_Customer]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_CustomerAddress_Customer] ON [dbo].[CustomerAddress]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerFavoriteSeller_CustomerId]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_CustomerFavoriteSeller_CustomerId] ON [dbo].[CustomerFavoriteSeller]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerFavoriteSeller_CustomerId_SellerId]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_CustomerFavoriteSeller_CustomerId_SellerId] ON [dbo].[CustomerFavoriteSeller]
(
	[CustomerId] ASC,
	[SellerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_CustomerFavoriteSeller_SellerId]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_CustomerFavoriteSeller_SellerId] ON [dbo].[CustomerFavoriteSeller]
(
	[SellerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_DeliveryTicket_Driver]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_DeliveryTicket_Driver] ON [dbo].[DeliveryTicket]
(
	[DriverId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UX_DeliveryTicket_Order]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_DeliveryTicket_Order] ON [dbo].[DeliveryTicket]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Driver_UserProfile]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Driver_UserProfile] ON [dbo].[Driver]
(
	[UserProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Message_Recipient_Read]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Message_Recipient_Read] ON [dbo].[Message]
(
	[RecipientUserId] ASC,
	[IsRead] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Message_Sender]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Message_Sender] ON [dbo].[Message]
(
	[SenderUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notification_IsDeleted]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notification_IsDeleted] ON [dbo].[Notification]
(
	[IsDeleted] ASC
)
INCLUDE([RecipientUserId],[IsRead],[CreatedAt]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Notification_Recipient_Read]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notification_Recipient_Read] ON [dbo].[Notification]
(
	[RecipientUserId] ASC,
	[IsRead] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Notification_Type]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Notification_Type] ON [dbo].[Notification]
(
	[Type] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItem_Order]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderItem_Order] ON [dbo].[OrderItem]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_OrderItem_Var]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_OrderItem_Var] ON [dbo].[OrderItem]
(
	[ProductVariantId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_Customer]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_Customer] ON [dbo].[Orders]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_DeliveryAddress]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_DeliveryAddress] ON [dbo].[Orders]
(
	[DeliveryAddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Orders_Seller]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Orders_Seller] ON [dbo].[Orders]
(
	[SellerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payment_Order]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payment_Order] ON [dbo].[Payment]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Payment_ServiceBooking]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Payment_ServiceBooking] ON [dbo].[Payment]
(
	[ServiceBookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_Seller]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Product_Seller] ON [dbo].[Product]
(
	[SellerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_StoreSectionId]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Product_StoreSectionId] ON [dbo].[Product]
(
	[StoreSectionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_SubCat]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Product_SubCat] ON [dbo].[Product]
(
	[SubCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Product_SubCat_Gender]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Product_SubCat_Gender] ON [dbo].[Product]
(
	[SubCategoryId] ASC,
	[GenderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductVariant_Color]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductVariant_Color] ON [dbo].[ProductVariant]
(
	[ColorValueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductVariant_Product]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductVariant_Product] ON [dbo].[ProductVariant]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProductVariant_Size]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProductVariant_Size] ON [dbo].[ProductVariant]
(
	[SizeValueId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProviderApplication_Provider]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProviderApplication_Provider] ON [dbo].[ProviderApplication]
(
	[ServiceProviderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PAS_App]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_PAS_App] ON [dbo].[ProviderApplicationService]
(
	[ProviderApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_PAS_Catalog]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_PAS_Catalog] ON [dbo].[ProviderApplicationService]
(
	[ServiceCatalogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ProviderCertificate_App]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_ProviderCertificate_App] ON [dbo].[ProviderCertificate]
(
	[ProviderApplicationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Review_Customer]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Review_Customer] ON [dbo].[Review]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Review_Order]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Review_Order] ON [dbo].[Review]
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Review_Product]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Review_Product] ON [dbo].[Review]
(
	[ProductId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Seller_CategoryId]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Seller_CategoryId] ON [dbo].[Seller]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Seller_UserProfile]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Seller_UserProfile] ON [dbo].[Seller]
(
	[UserProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SellerAddress_Address]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_SellerAddress_Address] ON [dbo].[SellerAddress]
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SellerAddress_Seller]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_SellerAddress_Seller] ON [dbo].[SellerAddress]
(
	[SellerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SellerSubCategory_SellerId_SubCategoryId]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_SellerSubCategory_SellerId_SubCategoryId] ON [dbo].[SellerSubCategory]
(
	[SellerId] ASC,
	[SubCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SellerSubCategory_SubCategoryId]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_SellerSubCategory_SubCategoryId] ON [dbo].[SellerSubCategory]
(
	[SubCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Service_Catalog]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Service_Catalog] ON [dbo].[Service]
(
	[ServiceCatalogId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Service_Provider]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_Service_Provider] ON [dbo].[Service]
(
	[ServiceProviderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceBooking_Customer]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_ServiceBooking_Customer] ON [dbo].[ServiceBooking]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceBooking_Provider]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_ServiceBooking_Provider] ON [dbo].[ServiceBooking]
(
	[ServiceProviderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceBooking_Service]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_ServiceBooking_Service] ON [dbo].[ServiceBooking]
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceBooking_ServiceAddress]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_ServiceBooking_ServiceAddress] ON [dbo].[ServiceBooking]
(
	[ServiceAddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_ServiceBooking_Status]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_ServiceBooking_Status] ON [dbo].[ServiceBooking]
(
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceProvider_ServiceCategory]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_ServiceProvider_ServiceCategory] ON [dbo].[ServiceProvider]
(
	[ServiceCategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceProvider_UserProfile]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_ServiceProvider_UserProfile] ON [dbo].[ServiceProvider]
(
	[UserProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceProviderAddress_Address]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_ServiceProviderAddress_Address] ON [dbo].[ServiceProviderAddress]
(
	[AddressId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceProviderAddress_Provider]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_ServiceProviderAddress_Provider] ON [dbo].[ServiceProviderAddress]
(
	[ServiceProviderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceReview_Booking]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_ServiceReview_Booking] ON [dbo].[ServiceReview]
(
	[ServiceBookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceReview_Customer]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_ServiceReview_Customer] ON [dbo].[ServiceReview]
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_ServiceReview_Provider]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_ServiceReview_Provider] ON [dbo].[ServiceReview]
(
	[ServiceProviderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_StoreSection_SellerId]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_StoreSection_SellerId] ON [dbo].[StoreSection]
(
	[SellerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_SubCategory_Category]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_SubCategory_Category] ON [dbo].[SubCategory]
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TimeSlot_Provider]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_TimeSlot_Provider] ON [dbo].[TimeSlot]
(
	[ServiceProviderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_TimeSlot_Provider_Day]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_TimeSlot_Provider_Day] ON [dbo].[TimeSlot]
(
	[ServiceProviderId] ASC,
	[DayOfWeek] ASC,
	[IsActive] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserMembership_Plan]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserMembership_Plan] ON [dbo].[UserMembership]
(
	[MembershipPlanId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_UserMembership_User]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_UserMembership_User] ON [dbo].[UserMembership]
(
	[UserProfileId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UX_UserProfile_IdentityUserId]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE UNIQUE NONCLUSTERED INDEX [UX_UserProfile_IdentityUserId] ON [dbo].[UserProfile]
(
	[IdentityUserId] ASC
)
WHERE ([IdentityUserId] IS NOT NULL)
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_VariantValue_Option]    Script Date: 12/24/2025 7:32:42 PM ******/
CREATE NONCLUSTERED INDEX [IX_VariantValue_Option] ON [dbo].[VariantValue]
(
	[VariantOptionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Address] ADD  DEFAULT ('Bahrain') FOR [Country]
GO
ALTER TABLE [dbo].[Address] ADD  DEFAULT ((0)) FOR [IsDefault]
GO
ALTER TABLE [dbo].[Address] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Address] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Address] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[AdminProfile] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AnnouncementRead] ADD  DEFAULT (sysutcdatetime()) FOR [ReadAt]
GO
ALTER TABLE [dbo].[Announcements] ADD  DEFAULT ('All') FOR [Audience]
GO
ALTER TABLE [dbo].[Announcements] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Announcements] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Customer] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[DeliveryTicket] ADD  DEFAULT ('Open') FOR [Status]
GO
ALTER TABLE [dbo].[DeliveryTicket] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[DeliveryTicket] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Driver] ADD  DEFAULT ('Available') FOR [Status]
GO
ALTER TABLE [dbo].[Driver] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Driver] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[MembershipPlan] ADD  DEFAULT ((0)) FOR [MonthlyPrice]
GO
ALTER TABLE [dbo].[MembershipPlan] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[MembershipPlan] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Message] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Message] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notification] ADD  DEFAULT ((0)) FOR [IsDeleted]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [SubtotalAmount]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ((0)) FOR [DeliveryFee]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ('Order') FOR [PaymentFor]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ((0)) FOR [Amount]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT ('Unpaid') FOR [Status]
GO
ALTER TABLE [dbo].[Payment] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Product] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ProductVariant] ADD  DEFAULT ((0)) FOR [StockQty]
GO
ALTER TABLE [dbo].[ProductVariant] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProductVariant] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ProductVariant] ADD  DEFAULT (N'') FOR [VariantName]
GO
ALTER TABLE [dbo].[ProductVariant] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[ProviderApplication] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[ProviderApplication] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ProviderApplication] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ProviderCertificate] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT ((0)) FOR [IsCommentHiddenBySeller]
GO
ALTER TABLE [dbo].[Review] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Seller] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Seller] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[Seller] ADD  DEFAULT ((1)) FOR [CategoryId]
GO
ALTER TABLE [dbo].[Seller] ADD  DEFAULT (CONVERT([bit],(0))) FOR [IsOpen]
GO
ALTER TABLE [dbo].[Service] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Service] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ServiceBooking] ADD  DEFAULT ('PendingQuote') FOR [Status]
GO
ALTER TABLE [dbo].[ServiceBooking] ADD  DEFAULT ('Home') FOR [ServiceType]
GO
ALTER TABLE [dbo].[ServiceBooking] ADD  DEFAULT ((0)) FOR [CancellationFee]
GO
ALTER TABLE [dbo].[ServiceBooking] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ServiceBooking] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ServiceBooking] ADD  CONSTRAINT [DF_ServiceBooking_DepositAmount]  DEFAULT ((0)) FOR [DepositAmount]
GO
ALTER TABLE [dbo].[ServiceCatalog] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ServiceCatalog] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ServiceCategory] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[ServiceCategory] ADD  DEFAULT (sysdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ServiceProvider] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[ServiceProvider] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ServiceProvider] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[ServiceReview] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[ServiceReview] ADD  DEFAULT ((0)) FOR [IsHidden]
GO
ALTER TABLE [dbo].[StoreSection] ADD  DEFAULT (CONVERT([bit],(1))) FOR [IsActive]
GO
ALTER TABLE [dbo].[SubCategory] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[SubCategory] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TimeSlot] ADD  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TimeSlot] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserMembership] ADD  DEFAULT ((0)) FOR [AutoRenew]
GO
ALTER TABLE [dbo].[UserMembership] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserProfile] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[UserProfile] ADD  DEFAULT (sysutcdatetime()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserProfile] ADD  DEFAULT (sysutcdatetime()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[AdminProfile]  WITH CHECK ADD  CONSTRAINT [FK_AdminProfile_UserProfile] FOREIGN KEY([UserProfileId])
REFERENCES [dbo].[UserProfile] ([Id])
GO
ALTER TABLE [dbo].[AdminProfile] CHECK CONSTRAINT [FK_AdminProfile_UserProfile]
GO
ALTER TABLE [dbo].[AnnouncementRead]  WITH CHECK ADD  CONSTRAINT [FK_AnnouncementRead_Announcement] FOREIGN KEY([AnnouncementId])
REFERENCES [dbo].[Announcements] ([Id])
GO
ALTER TABLE [dbo].[AnnouncementRead] CHECK CONSTRAINT [FK_AnnouncementRead_Announcement]
GO
ALTER TABLE [dbo].[AnnouncementRead]  WITH CHECK ADD  CONSTRAINT [FK_AnnouncementRead_UserProfile] FOREIGN KEY([UserProfileId])
REFERENCES [dbo].[UserProfile] ([Id])
GO
ALTER TABLE [dbo].[AnnouncementRead] CHECK CONSTRAINT [FK_AnnouncementRead_UserProfile]
GO
ALTER TABLE [dbo].[Announcements]  WITH CHECK ADD  CONSTRAINT [FK_Announcements_Admin] FOREIGN KEY([AdminUserId])
REFERENCES [dbo].[UserProfile] ([Id])
GO
ALTER TABLE [dbo].[Announcements] CHECK CONSTRAINT [FK_Announcements_Admin]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK_AuditLogs_Actor] FOREIGN KEY([ActorUserId])
REFERENCES [dbo].[UserProfile] ([Id])
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK_AuditLogs_Actor]
GO
ALTER TABLE [dbo].[Customer]  WITH CHECK ADD  CONSTRAINT [FK_Customer_UserProfile] FOREIGN KEY([UserProfileId])
REFERENCES [dbo].[UserProfile] ([Id])
GO
ALTER TABLE [dbo].[Customer] CHECK CONSTRAINT [FK_Customer_UserProfile]
GO
ALTER TABLE [dbo].[CustomerAddress]  WITH CHECK ADD  CONSTRAINT [FK_CustomerAddress_Address] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Address] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CustomerAddress] CHECK CONSTRAINT [FK_CustomerAddress_Address]
GO
ALTER TABLE [dbo].[CustomerAddress]  WITH CHECK ADD  CONSTRAINT [FK_CustomerAddress_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CustomerAddress] CHECK CONSTRAINT [FK_CustomerAddress_Customer]
GO
ALTER TABLE [dbo].[CustomerFavoriteSeller]  WITH CHECK ADD  CONSTRAINT [FK_CustomerFavoriteSeller_Customer_CustomerId] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CustomerFavoriteSeller] CHECK CONSTRAINT [FK_CustomerFavoriteSeller_Customer_CustomerId]
GO
ALTER TABLE [dbo].[CustomerFavoriteSeller]  WITH CHECK ADD  CONSTRAINT [FK_CustomerFavoriteSeller_Seller_SellerId] FOREIGN KEY([SellerId])
REFERENCES [dbo].[Seller] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CustomerFavoriteSeller] CHECK CONSTRAINT [FK_CustomerFavoriteSeller_Seller_SellerId]
GO
ALTER TABLE [dbo].[DeliveryTicket]  WITH CHECK ADD  CONSTRAINT [FK_DeliveryTicket_DeliveryAddress] FOREIGN KEY([DeliveryAddressId])
REFERENCES [dbo].[Address] ([Id])
GO
ALTER TABLE [dbo].[DeliveryTicket] CHECK CONSTRAINT [FK_DeliveryTicket_DeliveryAddress]
GO
ALTER TABLE [dbo].[DeliveryTicket]  WITH CHECK ADD  CONSTRAINT [FK_DeliveryTicket_Driver] FOREIGN KEY([DriverId])
REFERENCES [dbo].[Driver] ([Id])
GO
ALTER TABLE [dbo].[DeliveryTicket] CHECK CONSTRAINT [FK_DeliveryTicket_Driver]
GO
ALTER TABLE [dbo].[DeliveryTicket]  WITH CHECK ADD  CONSTRAINT [FK_DeliveryTicket_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DeliveryTicket] CHECK CONSTRAINT [FK_DeliveryTicket_Order]
GO
ALTER TABLE [dbo].[DeliveryTicket]  WITH CHECK ADD  CONSTRAINT [FK_DeliveryTicket_PickupAddress] FOREIGN KEY([PickupAddressId])
REFERENCES [dbo].[Address] ([Id])
GO
ALTER TABLE [dbo].[DeliveryTicket] CHECK CONSTRAINT [FK_DeliveryTicket_PickupAddress]
GO
ALTER TABLE [dbo].[Driver]  WITH CHECK ADD  CONSTRAINT [FK_Driver_UserProfile] FOREIGN KEY([UserProfileId])
REFERENCES [dbo].[UserProfile] ([Id])
GO
ALTER TABLE [dbo].[Driver] CHECK CONSTRAINT [FK_Driver_UserProfile]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_Message_Recipient] FOREIGN KEY([RecipientUserId])
REFERENCES [dbo].[UserProfile] ([Id])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_Message_Recipient]
GO
ALTER TABLE [dbo].[Message]  WITH CHECK ADD  CONSTRAINT [FK_Message_Sender] FOREIGN KEY([SenderUserId])
REFERENCES [dbo].[UserProfile] ([Id])
GO
ALTER TABLE [dbo].[Message] CHECK CONSTRAINT [FK_Message_Sender]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Recipient] FOREIGN KEY([RecipientUserId])
REFERENCES [dbo].[UserProfile] ([Id])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Recipient]
GO
ALTER TABLE [dbo].[Notification]  WITH CHECK ADD  CONSTRAINT [FK_Notification_Sender] FOREIGN KEY([SenderUserId])
REFERENCES [dbo].[UserProfile] ([Id])
GO
ALTER TABLE [dbo].[Notification] CHECK CONSTRAINT [FK_Notification_Sender]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_Order]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD  CONSTRAINT [FK_OrderItem_ProductVariant] FOREIGN KEY([ProductVariantId])
REFERENCES [dbo].[ProductVariant] ([Id])
GO
ALTER TABLE [dbo].[OrderItem] CHECK CONSTRAINT [FK_OrderItem_ProductVariant]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Customer]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_DeliveryAddress] FOREIGN KEY([DeliveryAddressId])
REFERENCES [dbo].[Address] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_DeliveryAddress]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_PickupAddress] FOREIGN KEY([PickupAddressId])
REFERENCES [dbo].[Address] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_PickupAddress]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Seller] FOREIGN KEY([SellerId])
REFERENCES [dbo].[Seller] ([Id])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Seller]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_Order]
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [FK_Payment_ServiceBooking] FOREIGN KEY([ServiceBookingId])
REFERENCES [dbo].[ServiceBooking] ([Id])
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [FK_Payment_ServiceBooking]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Gender] FOREIGN KEY([GenderId])
REFERENCES [dbo].[Gender] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Gender]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Seller] FOREIGN KEY([SellerId])
REFERENCES [dbo].[Seller] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Seller]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_StoreSection_StoreSectionId] FOREIGN KEY([StoreSectionId])
REFERENCES [dbo].[StoreSection] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_StoreSection_StoreSectionId]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_SubCategory] FOREIGN KEY([SubCategoryId])
REFERENCES [dbo].[SubCategory] ([Id])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_SubCategory]
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariant_Color] FOREIGN KEY([ColorValueId])
REFERENCES [dbo].[VariantValue] ([Id])
GO
ALTER TABLE [dbo].[ProductVariant] CHECK CONSTRAINT [FK_ProductVariant_Color]
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariant_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProductVariant] CHECK CONSTRAINT [FK_ProductVariant_Product]
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD  CONSTRAINT [FK_ProductVariant_Size] FOREIGN KEY([SizeValueId])
REFERENCES [dbo].[VariantValue] ([Id])
GO
ALTER TABLE [dbo].[ProductVariant] CHECK CONSTRAINT [FK_ProductVariant_Size]
GO
ALTER TABLE [dbo].[ProviderApplication]  WITH CHECK ADD  CONSTRAINT [FK_ProviderApplication_Provider] FOREIGN KEY([ServiceProviderId])
REFERENCES [dbo].[ServiceProvider] ([Id])
GO
ALTER TABLE [dbo].[ProviderApplication] CHECK CONSTRAINT [FK_ProviderApplication_Provider]
GO
ALTER TABLE [dbo].[ProviderApplicationService]  WITH CHECK ADD  CONSTRAINT [FK_PAS_Application] FOREIGN KEY([ProviderApplicationId])
REFERENCES [dbo].[ProviderApplication] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProviderApplicationService] CHECK CONSTRAINT [FK_PAS_Application]
GO
ALTER TABLE [dbo].[ProviderApplicationService]  WITH CHECK ADD  CONSTRAINT [FK_PAS_ServiceCatalog] FOREIGN KEY([ServiceCatalogId])
REFERENCES [dbo].[ServiceCatalog] ([Id])
GO
ALTER TABLE [dbo].[ProviderApplicationService] CHECK CONSTRAINT [FK_PAS_ServiceCatalog]
GO
ALTER TABLE [dbo].[ProviderCertificate]  WITH CHECK ADD  CONSTRAINT [FK_ProviderCertificate_Application] FOREIGN KEY([ProviderApplicationId])
REFERENCES [dbo].[ProviderApplication] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ProviderCertificate] CHECK CONSTRAINT [FK_ProviderCertificate_Application]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Customer]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Orders] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Order]
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD  CONSTRAINT [FK_Review_Product] FOREIGN KEY([ProductId])
REFERENCES [dbo].[Product] ([Id])
GO
ALTER TABLE [dbo].[Review] CHECK CONSTRAINT [FK_Review_Product]
GO
ALTER TABLE [dbo].[Seller]  WITH CHECK ADD  CONSTRAINT [FK_Seller_Category_CategoryId] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[Seller] CHECK CONSTRAINT [FK_Seller_Category_CategoryId]
GO
ALTER TABLE [dbo].[Seller]  WITH CHECK ADD  CONSTRAINT [FK_Seller_UserProfile] FOREIGN KEY([UserProfileId])
REFERENCES [dbo].[UserProfile] ([Id])
GO
ALTER TABLE [dbo].[Seller] CHECK CONSTRAINT [FK_Seller_UserProfile]
GO
ALTER TABLE [dbo].[SellerAddress]  WITH CHECK ADD  CONSTRAINT [FK_SellerAddress_Address] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Address] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SellerAddress] CHECK CONSTRAINT [FK_SellerAddress_Address]
GO
ALTER TABLE [dbo].[SellerAddress]  WITH CHECK ADD  CONSTRAINT [FK_SellerAddress_Seller] FOREIGN KEY([SellerId])
REFERENCES [dbo].[Seller] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SellerAddress] CHECK CONSTRAINT [FK_SellerAddress_Seller]
GO
ALTER TABLE [dbo].[SellerSubCategory]  WITH CHECK ADD  CONSTRAINT [FK_SellerSubCategory_Seller] FOREIGN KEY([SellerId])
REFERENCES [dbo].[Seller] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SellerSubCategory] CHECK CONSTRAINT [FK_SellerSubCategory_Seller]
GO
ALTER TABLE [dbo].[SellerSubCategory]  WITH CHECK ADD  CONSTRAINT [FK_SellerSubCategory_SubCategory] FOREIGN KEY([SubCategoryId])
REFERENCES [dbo].[SubCategory] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[SellerSubCategory] CHECK CONSTRAINT [FK_SellerSubCategory_SubCategory]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [FK_Service_ServiceCatalog] FOREIGN KEY([ServiceCatalogId])
REFERENCES [dbo].[ServiceCatalog] ([Id])
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [FK_Service_ServiceCatalog]
GO
ALTER TABLE [dbo].[Service]  WITH CHECK ADD  CONSTRAINT [FK_Service_ServiceProvider] FOREIGN KEY([ServiceProviderId])
REFERENCES [dbo].[ServiceProvider] ([Id])
GO
ALTER TABLE [dbo].[Service] CHECK CONSTRAINT [FK_Service_ServiceProvider]
GO
ALTER TABLE [dbo].[ServiceBooking]  WITH CHECK ADD  CONSTRAINT [FK_ServiceBooking_Address] FOREIGN KEY([ServiceAddressId])
REFERENCES [dbo].[Address] ([Id])
GO
ALTER TABLE [dbo].[ServiceBooking] CHECK CONSTRAINT [FK_ServiceBooking_Address]
GO
ALTER TABLE [dbo].[ServiceBooking]  WITH CHECK ADD  CONSTRAINT [FK_ServiceBooking_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[ServiceBooking] CHECK CONSTRAINT [FK_ServiceBooking_Customer]
GO
ALTER TABLE [dbo].[ServiceBooking]  WITH CHECK ADD  CONSTRAINT [FK_ServiceBooking_Provider] FOREIGN KEY([ServiceProviderId])
REFERENCES [dbo].[ServiceProvider] ([Id])
GO
ALTER TABLE [dbo].[ServiceBooking] CHECK CONSTRAINT [FK_ServiceBooking_Provider]
GO
ALTER TABLE [dbo].[ServiceBooking]  WITH CHECK ADD  CONSTRAINT [FK_ServiceBooking_Service] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Service] ([Id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ServiceBooking] CHECK CONSTRAINT [FK_ServiceBooking_Service]
GO
ALTER TABLE [dbo].[ServiceBooking]  WITH CHECK ADD  CONSTRAINT [FK_ServiceBooking_ServiceCatalog] FOREIGN KEY([ServiceCatalogId])
REFERENCES [dbo].[ServiceCatalog] ([Id])
GO
ALTER TABLE [dbo].[ServiceBooking] CHECK CONSTRAINT [FK_ServiceBooking_ServiceCatalog]
GO
ALTER TABLE [dbo].[ServiceBooking]  WITH CHECK ADD  CONSTRAINT [FK_ServiceBooking_TimeSlot] FOREIGN KEY([TimeSlotId])
REFERENCES [dbo].[TimeSlot] ([Id])
GO
ALTER TABLE [dbo].[ServiceBooking] CHECK CONSTRAINT [FK_ServiceBooking_TimeSlot]
GO
ALTER TABLE [dbo].[ServiceCatalog]  WITH CHECK ADD  CONSTRAINT [FK_ServiceCatalog_ServiceCategory] FOREIGN KEY([ServiceCategoryId])
REFERENCES [dbo].[ServiceCategory] ([Id])
GO
ALTER TABLE [dbo].[ServiceCatalog] CHECK CONSTRAINT [FK_ServiceCatalog_ServiceCategory]
GO
ALTER TABLE [dbo].[ServiceProvider]  WITH CHECK ADD  CONSTRAINT [FK_ServiceProvider_ServiceCategory] FOREIGN KEY([ServiceCategoryId])
REFERENCES [dbo].[ServiceCategory] ([Id])
GO
ALTER TABLE [dbo].[ServiceProvider] CHECK CONSTRAINT [FK_ServiceProvider_ServiceCategory]
GO
ALTER TABLE [dbo].[ServiceProvider]  WITH CHECK ADD  CONSTRAINT [FK_ServiceProvider_UserProfile] FOREIGN KEY([UserProfileId])
REFERENCES [dbo].[UserProfile] ([Id])
GO
ALTER TABLE [dbo].[ServiceProvider] CHECK CONSTRAINT [FK_ServiceProvider_UserProfile]
GO
ALTER TABLE [dbo].[ServiceProviderAddress]  WITH CHECK ADD  CONSTRAINT [FK_ServiceProviderAddress_Address] FOREIGN KEY([AddressId])
REFERENCES [dbo].[Address] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceProviderAddress] CHECK CONSTRAINT [FK_ServiceProviderAddress_Address]
GO
ALTER TABLE [dbo].[ServiceProviderAddress]  WITH CHECK ADD  CONSTRAINT [FK_ServiceProviderAddress_Provider] FOREIGN KEY([ServiceProviderId])
REFERENCES [dbo].[ServiceProvider] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[ServiceProviderAddress] CHECK CONSTRAINT [FK_ServiceProviderAddress_Provider]
GO
ALTER TABLE [dbo].[ServiceReview]  WITH CHECK ADD  CONSTRAINT [FK_ServiceReview_Booking] FOREIGN KEY([ServiceBookingId])
REFERENCES [dbo].[ServiceBooking] ([Id])
GO
ALTER TABLE [dbo].[ServiceReview] CHECK CONSTRAINT [FK_ServiceReview_Booking]
GO
ALTER TABLE [dbo].[ServiceReview]  WITH CHECK ADD  CONSTRAINT [FK_ServiceReview_Customer] FOREIGN KEY([CustomerId])
REFERENCES [dbo].[Customer] ([Id])
GO
ALTER TABLE [dbo].[ServiceReview] CHECK CONSTRAINT [FK_ServiceReview_Customer]
GO
ALTER TABLE [dbo].[ServiceReview]  WITH CHECK ADD  CONSTRAINT [FK_ServiceReview_Provider] FOREIGN KEY([ServiceProviderId])
REFERENCES [dbo].[ServiceProvider] ([Id])
GO
ALTER TABLE [dbo].[ServiceReview] CHECK CONSTRAINT [FK_ServiceReview_Provider]
GO
ALTER TABLE [dbo].[StoreSection]  WITH CHECK ADD  CONSTRAINT [FK_StoreSection_Seller_SellerId] FOREIGN KEY([SellerId])
REFERENCES [dbo].[Seller] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StoreSection] CHECK CONSTRAINT [FK_StoreSection_Seller_SellerId]
GO
ALTER TABLE [dbo].[SubCategory]  WITH CHECK ADD  CONSTRAINT [FK_SubCategory_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([Id])
GO
ALTER TABLE [dbo].[SubCategory] CHECK CONSTRAINT [FK_SubCategory_Category]
GO
ALTER TABLE [dbo].[TimeSlot]  WITH CHECK ADD  CONSTRAINT [FK_TimeSlot_Provider] FOREIGN KEY([ServiceProviderId])
REFERENCES [dbo].[ServiceProvider] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TimeSlot] CHECK CONSTRAINT [FK_TimeSlot_Provider]
GO
ALTER TABLE [dbo].[UserMembership]  WITH CHECK ADD  CONSTRAINT [FK_UserMembership_Plan] FOREIGN KEY([MembershipPlanId])
REFERENCES [dbo].[MembershipPlan] ([Id])
GO
ALTER TABLE [dbo].[UserMembership] CHECK CONSTRAINT [FK_UserMembership_Plan]
GO
ALTER TABLE [dbo].[UserMembership]  WITH CHECK ADD  CONSTRAINT [FK_UserMembership_UserProfile] FOREIGN KEY([UserProfileId])
REFERENCES [dbo].[UserProfile] ([Id])
GO
ALTER TABLE [dbo].[UserMembership] CHECK CONSTRAINT [FK_UserMembership_UserProfile]
GO
ALTER TABLE [dbo].[VariantValue]  WITH CHECK ADD  CONSTRAINT [FK_VariantValue_Option] FOREIGN KEY([VariantOptionId])
REFERENCES [dbo].[VariantOption] ([Id])
GO
ALTER TABLE [dbo].[VariantValue] CHECK CONSTRAINT [FK_VariantValue_Option]
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD CHECK  (([Qty]>(0)))
GO
ALTER TABLE [dbo].[OrderItem]  WITH CHECK ADD CHECK  (([UnitPrice]>=(0)))
GO
ALTER TABLE [dbo].[Payment]  WITH CHECK ADD  CONSTRAINT [CK_Payment_Reference] CHECK  (([PaymentFor]='Order' AND [OrderId] IS NOT NULL AND [ServiceBookingId] IS NULL OR [PaymentFor]='ServiceBooking' AND [ServiceBookingId] IS NOT NULL AND [OrderId] IS NULL))
GO
ALTER TABLE [dbo].[Payment] CHECK CONSTRAINT [CK_Payment_Reference]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD CHECK  (([BasePrice]>=(0)))
GO
ALTER TABLE [dbo].[ProductVariant]  WITH CHECK ADD CHECK  (([StockQty]>=(0)))
GO
ALTER TABLE [dbo].[Review]  WITH CHECK ADD CHECK  (([Rating]>=(1) AND [Rating]<=(5)))
GO
ALTER TABLE [dbo].[ServiceCatalog]  WITH CHECK ADD  CONSTRAINT [CK_ServiceCatalog_PriceRange] CHECK  (([MinPrice] IS NULL OR [MaxPrice] IS NULL OR [MinPrice]<=[MaxPrice]))
GO
ALTER TABLE [dbo].[ServiceCatalog] CHECK CONSTRAINT [CK_ServiceCatalog_PriceRange]
GO
ALTER TABLE [dbo].[ServiceProvider]  WITH CHECK ADD  CONSTRAINT [CK_ServiceProvider_PriceRange] CHECK  (([MinServicePrice] IS NULL OR [MaxServicePrice] IS NULL OR [MinServicePrice]<=[MaxServicePrice]))
GO
ALTER TABLE [dbo].[ServiceProvider] CHECK CONSTRAINT [CK_ServiceProvider_PriceRange]
GO
ALTER TABLE [dbo].[ServiceReview]  WITH CHECK ADD CHECK  (([OverallRating]>=(1) AND [OverallRating]<=(5)))
GO
ALTER TABLE [dbo].[ServiceReview]  WITH CHECK ADD CHECK  (([ProfessionalismRating]>=(1) AND [ProfessionalismRating]<=(5)))
GO
ALTER TABLE [dbo].[ServiceReview]  WITH CHECK ADD CHECK  (([QualityRating]>=(1) AND [QualityRating]<=(5)))
GO
ALTER TABLE [dbo].[ServiceReview]  WITH CHECK ADD CHECK  (([TimelinessRating]>=(1) AND [TimelinessRating]<=(5)))
GO
ALTER TABLE [dbo].[TimeSlot]  WITH CHECK ADD  CONSTRAINT [CK_TimeSlot_DayOfWeek] CHECK  (([DayOfWeek]>=(0) AND [DayOfWeek]<=(6)))
GO
ALTER TABLE [dbo].[TimeSlot] CHECK CONSTRAINT [CK_TimeSlot_DayOfWeek]
GO
ALTER TABLE [dbo].[TimeSlot]  WITH CHECK ADD  CONSTRAINT [CK_TimeSlot_Time] CHECK  (([StartTime]<[EndTime]))
GO
ALTER TABLE [dbo].[TimeSlot] CHECK CONSTRAINT [CK_TimeSlot_Time]
GO
USE [master]
GO
